<div class="jumbotron jumbotron-carousel hidden-print">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8 text-center">
        <h1>{{ site.fontawesome.site_title }}</h1>
        <p>世界上第一个图标，字体为中国餐馆菜单的视觉翻译</p>
        <p>{{ site.fontawesome.tagline }}</p>
        <div class="actions">
          <a class="btn btn-default btn-lg" href="{{ page.relative_path }}assets/{{ site.fontawesome.rh_fnt_prefix }}-{{ site.fontawesome.version }}.zip"
             onClick="_gaq.push(['_trackEvent', 'Outbound Link', 'Download on GitHub']);">
            <i class="fa fa-download fa-lg"></i>&nbsp;&nbsp;
            下载 - Download
          </a>
        </div>
        <div class="shameless-self-promotion">
          Version {{ site.fontawesome.version }} &nbsp;&nbsp;&middot;&nbsp;&nbsp;
          Created by <a href="http://twitter.com/{{ site.fontawesome.author.twitter }}">{{ site.fontawesome.author.name }}</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div id="icon-carousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item"><div><i class="rh rh-goose"></i></div></div>
            <div class="item"><div><i class="rh rh-stir-fried"></i></div></div>
            <div class="item"><div><i class="rh rh-pak-choi"></i></div></div>
            <div class="item"><div><i class="rh rh-crab"></i></div></div>
            <div class="item"><div><i class="rh rh-soy-sauce"></i></div></div>
            <div class="item"><div><i class="rh rh-ginger"></i></div></div>
            <div class="item"><div><i class="rh rh-pork"></i></div></div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#icon-carousel" data-slide="prev"
             onClick="_gaq.push(['_trackEvent', 'iconCarousel', 'Prev']);">
            <i class="fa fa-arrow-circle-left"></i></a>
          <a class="carousel-control right" href="#icon-carousel" data-slide="next"
             onClick="_gaq.push(['_trackEvent', 'iconCarousel', 'Next']);">
            <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>

  </div>
</div>
