<section id="why" class="feature-list">

<p style="font-weight: bolder;
		  font-size: 30px;
		  text-align: justify;
		  margin-bottom: 40px;
		  margin-top: 40px;">不知道怎么翻译您的菜单？ 不用担心，就算您不懂英文也可以轻松用双语编辑您的菜单。只需要简单的阅读一下我们的使用说明，您就可以用我们的免费图标来翻译您所有的菜品。</p>

  <div class="row">
    <div class="col-md-4 col-sm-6">
      <h4>One Font, {{ icons | size }} Icons</h4>
      {{ site.fontawesome.site_title }} is a pictographic language of chinese-menu-related items.
    </div>
    <div class="col-md-4 col-sm-6">
      <h4>Desktop Friendly</h4>
      Easy to use on the desktop with your favorite application that supports fonts.
    </div>
    <div class="col-md-4 col-sm-6">
      <h4>Website Ready</h4>
      No JavaScript Required. Easily style icon color, size, shadow, and anything that's possible with CSS.
    </div>
    <div class="col-md-4 col-sm-6">
      <h4>Infinite Scalability</h4>
      Scalable vector graphics means every icon looks awesome at any size.
    </div>
    <div class="col-md-4 col-sm-6">
      <h4>Free, as in Speech</h4>
      {{ site.fontawesome.site_title }} is completely free for commercial use. Check out the <a href="{{ page.relative_path }}license/">license</a>.
    </div>
    <div class="col-md-4 col-sm-6">
      <h4>Perfect on Retina Displays</h4>
      {{ site.fontawesome.site_title }} icons are vectors, which mean they're gorgeous on high-resolution displays.
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-6">
      <h4 style="font-weight: bolder;">一种字体，{{ icons | size }}个图标</h4>
      Roasted Husband 是世界上第一款针对中国菜单的图标。
    </div>
    <div class="col-md-4 col-sm-6">
      <h4 style="font-weight: bolder;">支持任何程序</h4>
      只需下载我们的图标到您的电脑，您就可以使用任何程序来编辑您的菜单。
    </div>
    <div class="col-md-4 col-sm-6">
      <h4 style="font-weight: bolder;">轻松编辑</h4>
      不需要任何Java语言，您可以用CSS任意编辑我们的图标。
    </div>
    <div class="col-md-4 col-sm-6">
      <h4 style="font-weight: bolder;">无限放大</h4>
      所有图标都是矢量文件，所以无论图标再大再小，他们永远不会有恼人的马赛克。
    </div>
    <div class="col-md-4 col-sm-6">
      <h4 style="font-weight: bolder;">完全免费</h4>
      {{ site.fontawesome.site_title }} 是完全免费使用的，具体请看：<a href="{{ page.relative_path }}license/">权限</a>。
    </div>
    <div class="col-md-4 col-sm-6">
      <h4 style="font-weight: bolder;">不畏高清</h4>
      所有图标都是矢量文件，所以它们会在高清屏幕上展现的更出色。
    </div>
  </div>
</section>
