<section id="reporting-bugs">
  <h2 class="page-header">Reporting Bugs</h2>
  <p>
    Found a problem with {{ site.fontawesome.site_title }}? Feel free to submit an issue on the GitHub project. But please keep the following in mind:
  </p>
  <ol>
    <li>Please be nice. {{ site.fontawesome.site_title }} is a happy place.</li>
    <li>Please <a href="{{ site.fontawesome.github.url }}/search?type=Issues">search</a> to see if your bug was already reported.</li>
    <li>
      Before opening any issue, please read the generic <a href="https://github.com/necolas/issue-guidelines">issue
      guidelines</a>, by <a href="https://github.com/necolas/">Nicolas Gallagher</a>.
    </li>
    <li>
      After doing everything above, feel free to
      <a href="{{ site.fontawesome.github.url }}/issues/new">submit an issue</a>.
    </li>
  </ol>

  <h2 class="page-header">汇报问题</h2>
  <p>
	有问题？请您不要犹豫，我们将会很高兴提高的我们的GitHub产品
  </p>
  <ol>
    <li>请您不要急躁，{{ site.fontawesome.site_title }} 是一个快乐的网站.</li>
    <li>请您先在我们的网站上<a href="{{ site.fontawesome.github.url }}/search?type=Issues">搜寻</a>一下您发现的问题是否已经被提交了</li>
    <li>
      在提交问题汇报之前，请先阅读一下<a href="https://github.com/necolas/">Nicolas Gallagher</a>的<a href="https://github.com/necolas/issue-guidelines">问题指引</a>.
    </li>
    <li>
      如果您已经做了以上所有的事情，请您快乐的提交<a href="{{ site.fontawesome.github.url }}/issues/new">问题汇报</a>.
    </li>
  </ol>
</section>
