<section id="requesting-new-icons">
  <h2 class="page-header">Requesting New Icons</h2>
  <p>
    New icons start as requests by the
    <a href="{{ site.fontawesome.github.url }}/issues">{{ site.fontawesome.site_title }} community on GitHub</a>. Want to request a new
    icon? Here are some things to keep in mind:
  </p>
  <ol>
    <li>Please be nice. {{ site.fontawesome.site_title }} is a happy place.</li>
    <li>Please <a href="{{ site.fontawesome.github.url }}/search?type=Issues">search</a> to see if your icon request already exists. If a request is found, please +1 that one.</li>
    <li>
      Please make requests for single icons, unless you are requesting a couple of strictly related icons (e.g., thumbs-up/thumbs-down).
    </li>
    <li>
      Please and thank you if you include the following:
      <ul>
        <li>
          Title your <a href="{{ site.fontawesome.github.url }}/issues/new?title=Icon%20Request:%20rh-">new issue</a>
          <code>Icon request: rh-name</code> (e.g., <code>Icon request: rh-lotus-root</code>).
        </li>
      </ul>
    </li>
  </ol>

  <h2 class="page-header">询问新的图标</h2>
  <p>
	在<a href="{{ site.fontawesome.github.url }}/issues">{{ site.fontawesome.site_title }} community on GitHub</a>中有些图标我们没有创造，但是您需要？那么请做以下的事情
  </p>
  <ol>
    <li>请您不要急躁，{{ site.fontawesome.site_title }} 是一个快乐的网站.</li>
    <li>请您先在我们的网站上<a href="{{ site.fontawesome.github.url }}/search?type=Issues">搜寻</a>一下您需要的图标是否已经存在，如果已经存在，请在图标上＋1</li>
    <li>
      请每次申请一个图标，除非这些图标是必须连在一起的，例如 (上下).
    </li>
    <li>
      如果您做能做以下的事情，我们将会很感激
      <ul>
        <li>
          在<a href="{{ site.fontawesome.github.url }}/issues/new?title=Icon%20Request:%20rh-">新的问题</a>中新命名您想要的图标: <code>Icon request: rh-name</code> (例如, <code>Icon request: rh-lotus-root</code>)
        </li>
      </ul>
    </li>
  </ol>
</section>
