<section id="brand">
  <h2 class="page-header">Seafood Icons</h2>

  <div class="row fontawesome-icon-list margin-bottom-lg">
    {% assign cat_icons = icons | expand_aliases | category:"Seafood Icons" | sort_by:'class' %}

    {% for icon in cat_icons %}
      <div class="fa-hover col-md-3 col-sm-4"><a href="{{ page.relative_path }}icon/{{ icon.id }}"><i class="rh rh-{{ icon.class }}"></i> {{ icon.class }}{% if icon.alias_of %} <span class="text-muted">(alias)</span>{% endif %}</a></div>
    {% endfor %}
  </div>

</section>
