---
layout: base
title: Roasted Husband Menu Examples
navbar_active: examples
relative_path: ../
---
{% capture jumbotron_h1 %}<i class="rh rh-crab" style="font-size: 100px;"></i>&nbsp; Examples 图例{% endcapture %}
{% capture jumbotron_p %}
	Check out our sample menus<br>
	样本菜单{% endcapture %}

{% include jumbotron.html %}
{% include stripe-social.html %}

<div class="container">
	<section id="menu examples">
	  <div class="row">
	    <div class="col-sm-12">
			<img src="{{ page.relative_path }}assets/img/illustrated-menu.jpg" alt="Sample Illustrated Menu" class="img-thumbnail">
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-sm-12">
			<p></p>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-sm-12">
			<img src="{{ page.relative_path }}assets/img/textonly-menu.jpg" alt="Sample Illustrated Menu" class="img-thumbnail">
	    </div>
	  </div>
	</section>
</div>
