---
layout: base
title: Get Started with Roasted Husband
navbar_active: get-started
relative_path: ../
---
{% capture jumbotron_h1 %}<i class="rh rh-stir-fried" style="font-size: 100px;"></i>&nbsp; Get Started{% endcapture %}
{% capture jumbotron_p %}Use {{ site.fontawesome.site_title }} {{ site.fontawesome.version }} on your website or with your desktop app like InDesign, Photoshop, Word or any other app where you can choose a font.{% endcapture %}

{% include jumbotron.html %}
{% include stripe-social.html %}

<div class="container">
  <section id="default-css">
    <h2 class="page-header">Roasted Husband for your Website</h2>

    <p>Use this method to get the default Roasted Husband CSS.</p>
    <ol>
      <li>Download the <a href="{{ page.relative_path }}assets/{{ site.fontawesome.rh_fnt_prefix }}-{{ site.fontawesome.version }}.zip"><code>{{ site.fontawesome.rh_fnt_prefix }} zip file</code></a>.</li>
      <li>Uncompress the zip file.</li>
      <li>Copy the entire <code>{{ site.fontawesome.rh_fnt_prefix }}</code> directory into your website project.</li>
      <li>
        In the <code>&lt;head&gt;</code> of your html, reference the location to your {{ site.fontawesome.rh_fnt_prefix }}.min.css.

{% highlight html %}<link rel="stylesheet" href="path/to/{{ site.fontawesome.rh_fnt_prefix }}/css/{{ site.fontawesome.rh_fnt_prefix }}.min.css">{% endhighlight %}
      </li>
    </ol>

    <p>You can place {{ site.fontawesome.site_title }} icons just about
	    anywhere with the <code>&lt;i&gt;</code> tag, using the CSS Prefix <code>rh</code> and the icon's name.</p>
	<div class="row">
	    <div class="col-md-6 col-sm-12">
			{% highlight html %}<i class="rh rh-bean-curd"></i> Delicious Bean Curd{% endhighlight %}
		</div>
	    <div class="col-md-6 col-sm-12" style="padding-top: 8px; padding-bottom: 8px; ">
			<p><i class="rh rh-bean-curd"></i> Delicious Bean Curd</p>
		</div>
	</div>
	<br>
	
    <p>To increase icon sizes relative to their container, use the <code>rh-lg</code> (33% increase), <code>rh-2x</code>,
	        <code>rh-3x</code>, <code>rh-4x</code>, or <code>rh-5x</code> classes.
	</p>
	<div class="row">
	    <div class="col-md-6 col-sm-12">
{% highlight html %}<i class="rh rh-bean-curd rh-lg"></i> Delicious Bean Curd rh-lg
<i class="rh rh-bean-curd rh-2x"></i> Delicious Bean Curd rh-2x
<i class="rh rh-bean-curd rh-3x"></i> Delicious Bean Curd rh-3x
<i class="rh rh-bean-curd rh-4x"></i> Delicious Bean Curd rh-4x
<i class="rh rh-bean-curd rh-5x"></i> Delicious Bean Curd rh-5x{% endhighlight %}
		</div>
	    <div class="col-md-6 col-sm-12" style="padding-top: 8px; padding-bottom: 8px; ">
			<p><i class="rh rh-bean-curd rh-lg"></i> Delicious Bean Curd rh-lg</p>
			<p><i class="rh rh-bean-curd rh-2x"></i> Delicious Bean Curd rh-2x</p>
			<p><i class="rh rh-bean-curd rh-3x"></i> Delicious Bean Curd rh-3x</p>
			<p><i class="rh rh-bean-curd rh-4x"></i> Delicious Bean Curd rh-4x</p>
			<p><i class="rh rh-bean-curd rh-5x"></i> Delicious Bean Curd rh-5x</p>	
		</div>
	</div>
	<br>

    <p>Use <code>rh-fw</code> to set icons at a fixed width. Great to use when different icon widths throw off alignment.
	        Especially useful in things like nav lists &amp; list groups.
	</p>
	{% highlight html %}
<div class="list-group">
  <a class="list-group-item" href="#"><i class="rh rh-pork rh-fw"></i>&nbsp; Meat</a>
  <a class="list-group-item" href="#"><i class="rh rh-squid rh-fw"></i>&nbsp; Seafood</a>
  <a class="list-group-item" href="#"><i class="rh rh-eggplant rh-fw"></i>&nbsp; Vegetables</a>
  <a class="list-group-item" href="#"><i class="rh rh-rh-oyster-sauce rh-fw"></i>&nbsp; Sauces</a>
</div>{% endhighlight %}

	<div class="list-group">
	  <a class="list-group-item" href="#"><i class="rh rh-pork rh-fw"></i>&nbsp; Meat</a>
	  <a class="list-group-item" href="#"><i class="rh rh-squid rh-fw"></i>&nbsp; Seafood</a>
	  <a class="list-group-item" href="#"><i class="rh rh-eggplant rh-fw"></i>&nbsp; Vegetables</a>
	  <a class="list-group-item" href="#"><i class="rh rh-oyster-sauce rh-fw"></i>&nbsp; Sauces</a>
	</div>
  </section>

  <section id="desktop-app">
    <h2 class="page-header">Roasted Husband for your Desktop</h2>

    <p>Follow these steps to use Roasted Husband on the desktop.</p>
    <ol>
      <li>Download the <a href="{{ page.relative_path }}assets/{{ site.fontawesome.rh_fnt_prefix }}-{{ site.fontawesome.version }}.zip"><code>{{ site.fontawesome.rh_fnt_prefix }} zip file</code></a>.</li>
      <li>Uncompress the zip file.</li>
      <li>Install {{ site.fontawesome.rh_fnt_prefix }}.ttf or {{ site.fontawesome.rh_fnt_prefix }}.otf. You find the font files in the <code>fonts</code> directory of the uncompressed zip file.</li>
      <li>Set {{ site.fontawesome.rh_fnt_prefix }} as the font in your application.</li>
      <li>Copy and paste the icons (not the unicode) directly from the cheatsheet on this page into your designs.</li>
	</ol>
	
  <h2 class="page-header">Cheatsheet</h2>

  <div class="row">
    {% assign sorted_icons = icons | expand_aliases | sort_by:'class' %}

    {% for icon in sorted_icons %}
    <div class="col-md-4 col-sm-6 col-lg-3">
      <i class="rh rh-fw">&#x{{ icon.unicode }}</i>
      rh-{{ icon.class }}
      {% if icon.alias_of %} <span class="text-muted">(alias)</span>{% endif %}
      <span class="muted">[&amp;#x{{ icon.unicode }};]</span>
    </div>
    {% endfor %}
  </div>

</div>
