---
layout: base
title: Roasted Husband Icons
navbar_active: icons
relative_path: ../
---
{% capture jumbotron_h1 %}<i class="rh rh-grilled"></i>&nbsp;The Icons 图标{% endcapture %}
{% capture jumbotron_p %}
	The complete set of {{ icons | size }} icons in {{ site.fontawesome.site_title }} {{ site.fontawesome.version }}<br>
	{{ site.fontawesome.site_title }} 版本 {{ site.fontawesome.version }}包含完整的{{ icons | size }}个图标.{% endcapture %}

{% include jumbotron.html %}
{% include stripe-social.html %}

<div class="container">
  {% include icons/filter.html %}

  {% include icons/meat.html %}
  {% include icons/seafood.html %}
  {% include icons/vegetable.html %}
  {% include icons/spice-sauce.html %}
  {% include icons/cooking-method.html %}
</div>
